In [20]:
import pandas as pd
import altair as alt
import json

In [21]:
with open('nc-election/precinct_results_senate.json','r') as f:
    results_j = json.load(f)
with open('nc-election/county_ids.json', 'r') as f:
    county_ids = json.load(f)

In [29]:
precinct_results = {}

for k in results_j:
    county_name = county_ids[k]
    for p in results_j[k]:
        precinct_key = county_name+'_'+p['aid']
        if precinct_key in precinct_results:
            precinct_results[precinct_key][p['bnm']] = int(p['vct'])
        else:
            precinct_results[precinct_key] = {'pid':precinct_key, p['bnm']: int(p['vct'])}

In [54]:
results = pd.DataFrame.from_dict([precinct_results[k] for k in precinct_results])
results['County'] = results['pid'].map(lambda r: r.split('_')[0])
# results['Precinct'] = results['pid'].map(lambda r: r.split('_')[1])
results

,pid,Ted Budd,Cheri Beasley,Shannon W. Bray,Matthew Hoh,Write-In (Miscellaneous),Michelle Estelle Lewis,County
0,ALAMANCE_01,1702,393,29,14,2,NaN,ALAMANCE
1,ALAMANCE_02,1872,423,29,12,1,NaN,ALAMANCE
2,ALAMANCE_035,1196,853,36,12,0,NaN,ALAMANCE
3,ALAMANCE_03C,934,679,21,15,0,NaN,ALAMANCE
4,ALAMANCE_03N,895,770,13,10,0,NaN,ALAMANCE
...,...,...,...,...,...,...,...,...
2972,YANCEY_07 BRU,188,80,5,2,0,NaN,YANCEY
2973,YANCEY_08 CRA,1091,426,22,20,1,NaN,YANCEY
2974,YANCEY_09 SOU,715,592,20,18,2,NaN,YANCEY
2975,YANCEY_10 PEN,260,95,2,0,0,NaN,YANCEY
2976,YANCEY_11 PRI,579,186,10,8,0,NaN,YANCEY

In [58]:
# results.to_csv('nc-election/precinct_results_senate.csv')
results = pd.read_csv('nc-election/precinct_results_senate.csv')
results.head()

,pid,Ted Budd,Cheri Beasley,Shannon W. Bray,Matthew Hoh,Write-In (Miscellaneous),Michelle Estelle Lewis,County
0,ALAMANCE_01,1702,393,29,14,2,NaN,ALAMANCE
1,ALAMANCE_02,1872,423,29,12,1,NaN,ALAMANCE
2,ALAMANCE_035,1196,853,36,12,0,NaN,ALAMANCE
3,ALAMANCE_03C,934,679,21,15,0,NaN,ALAMANCE
4,ALAMANCE_03N,895,770,13,10,0,NaN,ALAMANCE

In [62]:
with open('nc-election/Voting_Precincts.geojson','r') as f:
    shapes = json.load(f)
len(shapes['features'])

2663